<style>
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #262626;
    letter-spacing: 0.1em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
</style>
<section class="featured-slider fullwidth owl-carousel owl-theme" style="opacity: 1; display: block;">
  <div class="owl-wrapper-outer autoHeight">
    <carousel>
      <slide>
        <img [src]="'../assets/images/top-carousel-1.jpg'" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img [src]="'../assets/images/top-carousel-2.jpg'" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
      <slide>
        <img [src]="'../assets/images/top-carousel-3.jpg'" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    </carousel>
  </div>
</section>
<section class="main-content pi-standard right-sidebar">
  <div class="pi-container">
    <div class="pi-row">
      <div class="pi-content">
        <article class="post">
          <div class="post-media">
            <div class="images">
              <img [src]="'../../assets/images/article-1.jpg'" alt="">
            </div>
          </div>
          <div class="post-body">
            <div class="post-cat">
              <ul>
                <li><a href="http://aresivel.wiloke.com/category/lifestyle/">Lifestyle</a></li>
              </ul>
            </div>
            <div class="post-title text-uppercase">
              <h2><a routerLink="/post-detail/1">Hip Hop dance anytime
                anywhere</a></h2>
            </div>
            <hr class="pi-divider">
            <div class="post-date">
              <span>July 21, 2015</span>
            </div>
            <div class="post-entry">
              <p>Sed laoreet tortor vitae ipsum iaculis dapibus. Morbi leo enim, laoreet eget urna id, ullamcorper
                condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc
                faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor. Morbi ullamcorper ac velit et
                laoreet. Proin at consequat ipsum. Vivamus fringilla iaculis ex, et condimentum magna</p>
            </div>
            <div class="post-foot">
              <div class="tb">
                <div class="post-meta tb-cell">
                  <div class="post-format item">
                    <a routerLink="/post-detail/1"><i class="fa fa-image"></i></a>
                  </div>
                  <div class="post-author item">
                    <span>By <a href="http://aresivel.wiloke.com/author/aresivel/">aresivel</a></span>
                  </div>
                  <div class="post-comment item">
                    <a routerLink="/post-detail/1">03 Comments</a>
                  </div>
                </div>
                <div class="post-more tb-cell">
                  <a routerLink="/post-detail/1">Read more</a>
                </div>
                <div class="post-social tb-cell"><a target="_blank"
                                                    href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Faresivel.wiloke.com%2Fhip-hop-dance-anytime-anywhere%2F&amp;t=Hip+Hop+dance+anytime+anywhere"><i
                  class="fa fa-facebook"></i></a><a target="_blank"
                                                    href="https://twitter.com/intent/tweet?text=Hip+Hop+dance+anytime+anywhere-http%3A%2F%2Faresivel.wiloke.com%2Fhip-hop-dance-anytime-anywhere%2F&amp;source=webclient"><i
                  class="fa fa-twitter"></i></a><a target="_blank"
                                                   href="https://plus.google.com/share?url=http%3A%2F%2Faresivel.wiloke.com%2Fhip-hop-dance-anytime-anywhere%2F&amp;title=Hip+Hop+dance+anytime+anywhere"><i
                  class="fa fa-google-plus"></i></a><a target="_blank"
                                                       href="https://vk.com/share.php?url=http%3A%2F%2Faresivel.wiloke.com%2Fhip-hop-dance-anytime-anywhere%2F&amp;title=Hip+Hop+dance+anytime+anywhere"><i
                  class="fa fa-vk"></i></a></div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="pi-sidebar">
        <div id="pi_about-2" class="widget widget_pi_about"><h4 class="widget-title">About me</h4>
          <div class="widget-about-content">
            <div class="images">
              <img src="http://aresivel.wiloke.com/wp-content/uploads/2015/07/13.jpg" alt="Ronald Castro"
                   style="width: 100%">
            </div>
            <h4 class="text-uppercase fs-14">Ronald Castro</h4>
            <p>Vivamus porta ante eget sem rutrum egestas. Etiam sit amet ex ullamcorper ante mattis sodales. Duis
              dapibus, quam ac elementum suscipit, felis leo eleifend tortor.</p>
          </div>
        </div>
        <div id="recent-posts-2" class="widget widget_recent_entries"><h4 class="widget-title">Recent Posts</h4>
          <ul>
            <li>
              <a href="http://aresivel.wiloke.com/hip-hop-dance-anytime-anywhere/">Hip Hop dance anytime anywhere</a>
            </li>
            <li>
              <a href="http://aresivel.wiloke.com/a-elegant-wordpress-blog-theme/">A Elegant WordPress Blog Theme</a>
            </li>
            <li>
              <a href="http://aresivel.wiloke.com/10-immune-boosting-fruit-and-vegetables-for-your-family/">Healthy
                Cooking With Fruits and Vegetables</a>
            </li>
            <li>
              <a href="http://aresivel.wiloke.com/store-at-my-house/">Store At My House</a>
            </li>
            <li>
              <a
                href="http://aresivel.wiloke.com/we-are-writing-code-we-cant-understand-with-implications-we-cant-control/">We
                are writing code we can’t understand, with implications we can’t control</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

